.container.our-headline>div>h2 {
    font-size: 60px !important;
    font-weight: 900;
    font-family: system-ui;
    text-transform: uppercase;
}

p,.ex2-top a,.ex2-top span{
    font-weight: 700 !important;
}