
  

/* --- 2. VIDEO SCROLL SECTION --- */
  .video-scroll-track {
    height: 150vh; /* Long track to allow slow scrolling animation */
    position: relative;
    background-color: #1c4587;
}

.sticky-viewport {
    position: -webkit-sticky;
    position: sticky;
    top: 0; 
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

/* The Animated Container */
.video-anim-container {
    width: 100vw;  /* Target is Full Viewport Width */
    height: 100vh; /* Target is Full Viewport Height */
    display: flex;
    align-items: center;
    justify-content: center;
    
    /* Initial State (will be overridden by JS) */
    transform: scale(0.8);
    overflow: hidden;
    /* box-shadow: 0 20px 50px rgba(0,0,0,0.1); */
    
    /* Smooth transitions */
    transition: transform 0.1s linear, border-radius 0.1s linear;
    background: #1c4587; /* BG behind video */
}

/* Vimeo Wrapper to cover the area */
.vimeo-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    pointer-events: none; /* Prevents clicking pause/play manually so scroll flow isn't interrupted */
}

.vimeo-wrapper iframe {
    width: 100vw;
    /* height: 56.25vw;  */
    min-height: 100%;
    min-width: 100%; /* Given a 16:9 aspect ratio */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Overlay Text (Optional - e.g. "Manifesto") */
.video-text-overlay {
    position: absolute;
    z-index: 10;
    color: white;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease;
}

@media (max-width: 767px) {
    .video-scroll-track {
      height: 75vh;
    }
  
    .video-anim-container {
      height: 50vh;
    }

    .sticky-viewport{
        height: 100%;

    }
  }
  