---
import "../../../public/style/floating-container.css";

import { ui } from "../../src/i18n/ui";

const { lang = "en" } = Astro.props;
const t = ui[lang];
const data = t["why_seatrust.secion.items"];
---

<div class="container-fluid wecargo-section">
    <div class="row">
        
        <!-- LEFT: STICKY IMAGE -->
        <div class="col-lg-6 sticky-col">
            <img src="/images/seatrust floating container.png" alt="WeCargo Container" class="cargo-img">
        </div>

        <!-- RIGHT: SCROLLABLE LIST -->
        <div class="col-lg-5 offset-lg-1 content-col">
            
            <h1 class="hero-title">
                {t["why_seatrust.secion.name"]["p1"]}<br>
                {t["why_seatrust.secion.name"]["p2"]}
            </h1>

            <div class="services-list">
                <!-- 01 -->
                {
                    data.map((d) => (
                <div class="service-item">
                    <span class="service-num">{d.nbr}</span>
                    <h3 class="service-title">{d.title}</h3>
                    <p class="service-desc">{d.description}</p>
                    {/* <i class="bi bi-arrow-right arrow-icon"></i> */}
                </div>
                 ))
                }
            </div>

        </div>
    </div>
</div>