---
import "../../public/style/footer.css";
---

<footer class="seatrust-footer">
    <div class="container">
        <div class="row">
            <!-- 1. Logo Column -->
            <div
                class="col-lg-3 col-md-12 text-center text-lg-start mb-4 mb-lg-0"
            >
                <a class="" href="/">
                    <img
                        src="/images/logo-foter.png"
                        alt="Seatrust Group"
                        style="max-width: 200px;"
                    />
                </a>
            </div>

            <!-- 2. Address Column -->
            <div class="col-lg-4 col-md-4 mb-4 mb-md-0 contact-info">
                <div class="company-name">Seatrust End-to-End Logistics</div>
                <a
                    href="https://www.google.com/maps/place/Seatrust+Logistics/@33.5972343,-7.6153954,17z/data=!3m1!4b1!4m6!3m5!1s0xda7d2831388b2cb:0xabbebd7ebdc68e5a!8m2!3d33.5972343!4d-7.6153954!16s%2Fg%2F11b6jgxw88?entry=ttu&g_ep=EgoyMDI1MTIwOS4wIKXMDSoKLDEwMDc5MjA3M0gBUAM%3D"
                    class=""
                    target="_blank"
                >
                    <span>address: 12, Rue Oraibi Jilali, Casablanca</span>
                </a><br />
                <a href="tel:+212522435090" class="">
                    <span>mobile: +212 522 435 090</span>
                </a><br />

                <a href="tel:+212522435090" class="">
                    <span>fax: +212 5 22 00 00 01</span>
                </a><br />
                <a href="mailto:contact@seatrust.ma" class="">
                    <span>email: contact@seatrust.ma</span>
                </a><br />
            </div>

            <!-- 3. Our Services Column -->
            <div class="col-lg-3 col-md-4 mb-4 mb-md-0">
                <h5 class="footer-heading">OUR SERVICES</h5>
                <ul class="footer-list">
                    <li>
                        <i class="fa-solid fa-chevron-right"></i>
                        <a href="#">International Freight Forwarding</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-chevron-right"></i>
                        <a href="#">Licensed Customs Broker</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-chevron-right"></i>
                        <a href="#">Warehousing Services</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-chevron-right"></i>
                        <a href="#">Fulfillment Services</a>
                    </li>
                </ul>
            </div>

            <!-- 4. Navigation Column -->
            <div class="col-lg-2 col-md-4">
                <h5 class="footer-heading">NAVIGATION</h5>
                <ul class="footer-list">
                    <li>
                        <i class="fa-solid fa-chevron-right"></i>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-chevron-right"></i>
                        <a href="#">About Us</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-chevron-right"></i>
                        <a href="#">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Bottom Copyright & Credit -->
        <div class="copyright-area">
            <p class="mb-1">
                &copy; 2025 Seatrust - All Rights Reserved.Créé & développé par <a
                    href="https://brosmedia.ma/"
                    target="_blank">Brosmedia</a
                >.
            </p>
        </div>
    </div>
</footer>
