---
import "../../public/style/header.css";
---

<div class="top-bar">
    <div class="container d-flex justify-content-between align-items-center">
        <!-- LEFT SIDE: Contact Info (Address, Phone, Email) -->
        <div class="contact-info">
            <div class="contact-item">
                <i class="bi bi-geo-alt-fill"></i>
                <span>12, Rue Oraibi Jilali, Casablanca</span>
            </div>
            <a href="tel:+212522435090" class="contact-item">
                <i class="bi bi-telephone-fill"></i>
                <span>+212 522 435 090</span>
            </a>
            <a href="mailto:contact@seatrust.ma" class="contact-item">
                <i class="bi bi-envelope-fill"></i>
                <span>contact@seatrust.ma</span>
            </a>
        </div>

        <!-- RIGHT SIDE: Social Media -->
        <div class="social-icons">
            <a href="https://www.facebook.com/seatrustgroup/?ref=bookmarks"
                ><i class="bi bi-facebook"></i></a
            >
            <a href="https://www.linkedin.com/company/18392886/"
                ><i class="bi bi-linkedin"></i></a
            >
            <a href="https://twitter.com/SeatrustG"
                ><i class="bi bi-twitter-x"></i></a
            >
        </div>
    </div>
</div>

<!-- SECTION 2: MAIN NAVIGATION -->
<nav class="navbar navbar-expand-lg custom-navbar">
    <div class="container-fluid p-0">
        <!-- Logo Area (White Background) -->
        <div class="brand-wrapper">
            <a class="navbar-brand" href="/">
                <!-- REPLACE THIS IMG SRC WITH YOUR LOGO -->
                <img src="/images/SEATRUST-logo.png" alt="Seatrust Group" />
            </a>

            <!-- Mobile Toggle Button -->
            <button
                class="navbar-toggler d-lg-none"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <!-- Links Area (Dark Blue Background) -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <!-- 'Home' Item (Lighter Blue Background) -->
                <li class="nav-item bg-home-blue">
                    <a class="nav-link" href="/">Home</a>
                </li>

                <!-- Other Links (Dark Blue Background) -->
                <li class="nav-item">
                    <a class="nav-link" href="#">Seatrust</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Our companies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Partner</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
            </ul>

            <!-- CTA Button aligned to the right -->
            <div class="ms-auto cta-btn">
                <a href="/contact" class="btn btn-danger">Quote Now</a>
            </div>
        </div>
    </div>
</nav>
